<ion-header>
  <ion-toolbar>
    <ion-title>
      Reto 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Zulay Bonilla</ion-card-subtitle>
      <ion-card-subtitle>Damian Duarte</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>

      <ion-item>
        <ion-textarea placeholder="Ingresa los nombres separados por coma (,)" [(ngModel)]="textoEntrada">
        </ion-textarea>
      </ion-item>

      <ion-button expand="block" (click)="ruleta()">Play</ion-button>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{ nombreResultado }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</ion-content>